@charset "UTF-8";
.subtitulo-pagina {
  background-color: #CEFA05;
  font-family: "Barlow Condensed", sans-serif;
}
.subtitulo-pagina .titulo-nosotros {
  color: black;
}

.box-nosotros .box-video:hover {
  transform: scale(1.2);
  transition: 0.5ms;
}

.box-nosotros .nosotros__parrafo {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 23px;
}
.box-nosotros .box-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
.box-nosotros .box-text:hover {
  font-size: 20px;
  color: bold;
  transition: 0.4ms;
}

.subtitulo-pagina .nosotros-titulo :hover {
  color: #f8f8f8;
  transform: rotateY(20deg);
  transition: 1ms;
}

@media (max-width: 991px) {
  .box-nosotros .nosotros__parrafo {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 18px;
  }
  .box-nosotros .box-text {
    padding-top: 20px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
  }
}
@media (max-width: 585px) {
  .box-nosotros .nosotros__parrafo {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 14px;
  }
  .box-nosotros .box-text {
    padding-top: 20px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
  }
}
@media (max-width: 495px) {
  .box-nosotros .nosotros__parrafo {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 13px;
  }
  .box-nosotros .box-text {
    padding-top: 20px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 12px;
  }
}
.ComoFunciona-box-titulo {
  background-color: #CEFA05;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

.ComoFunciona__titulo {
  color: black;
}

.ComoFunciona__parrafo {
  font-size: 22px;
  text-decoration: bold;
  font-family: "Roboto", sans-serif;
}

.ComoFunciona__box--texto .ComoFunciona__opciones {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.submenu .MEN-1 {
  display: inline-block;
  height: 50px;
  width: 200px;
  color: green;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.submenu .MEN-1 a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}
.submenu .MEN-1 a:hover {
  border-bottom: 4px solid rgb(238, 225, 214);
}
.submenu .col-menu {
  background: rgb(242, 247, 0);
  background: linear-gradient(180deg, rgb(242, 247, 0) 26%, rgb(248, 246, 0) 54%, rgb(251, 250, 60) 70%);
}

/*COMO FUNCIONA CONTENIDO */
.img-comofunciona {
  height: 70vh;
  width: 40vw;
  padding-left: 3rem;
}

.caja-img {
  align-self: center;
}

.p-titulo {
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

.instrucciones {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.indicaciones-grupo {
  text-align: start;
}

.lista-compra {
  text-align: start;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.texto-p2 {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.texto-p3 {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.texto-p4 {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.titulo-h2 {
  font-size: 25px;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  text-align: start;
}

.pasos-envio {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.indicaciones-clinica {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.indicaciones-grupo {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.compra-minima {
  font-size: 25px;
  color: black;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  text-align: start;
}

/* media quaris*/
@media (max-width: 992px) {
  .ComoFunciona__parrafo {
    font-size: 22px;
  }
  .p-titulo {
    font-weight: 500;
    font-size: 17px;
    text-align: justify;
  }
  .MEN-1 a {
    font-size: 13px;
  }
  .img-comofunciona {
    width: 70vw;
    height: 60vh;
    padding: 0;
  }
  .caja-img {
    padding: 0;
  }
}
@media (max-width: 769px) {
  .ComoFunciona__titulo {
    font-size: 25px;
  }
  .ComoFunciona__parrafo {
    font-size: 20px;
  }
  .MEN-1 {
    width: 400px;
  }
  .MEN-1 a {
    font-size: 9px;
  }
  .MenuDeOpciones {
    width: 100%;
  }
}
@media (max-width: 650px) {
  .img-comofunciona {
    width: 68vw;
    height: 45vh;
    padding: 0;
  }
}
@media (max-width: 550px) {
  .submenu .MEN-1 a {
    font-size: 8px;
  }
}
@media (max-width: 390px) {
  .submenu .MEN-1 {
    width: 400px;
    height: 60px;
  }
  .submenu .MEN-1 a {
    font-size: 8;
  }
}
header {
  height: 40vh;
  background-color: black;
  border-bottom: solid 5px red;
}
header #logo {
  height: 28vh;
}
header .boxlogo {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-content: center;
}
header .boxtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  color: aliceblue;
  font-size: 40px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  padding-right: 30px;
}

/*seudoclases header*/
.nav-ul:hover {
  transform: scale(1.2);
  transition: 0.3ms;
}
.nav-ul .nav-item {
  font-family: "Barlow Condensed", sans-serif;
}
.nav-ul .nav-item .nav-link:hover {
  color: #9b0101;
}

/*seudoclases img-index*/
.box-img-index .img-index:hover {
  transform: scale(1.2);
  transition: 0.6ms;
}

/*footer*/
.foot-contenedor .Copyright {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.foot-contenedor:hover {
  border-top: solid 6px #CEFA05;
}

.footer-box .jab-d {
  font-weight: 700;
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
}
.footer-box .jab-d:hover {
  color: #616060;
}
.footer-box .p-jab-d {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.footer-box .p-jab-d:hover {
  color: #cfc7c7;
}
.footer-box .footer-productos {
  font-weight: 600;
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.footer-box .footer-productos:hover {
  color: #616060;
}

.footer-link .buc-productos {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #616060;
}
.footer-link .buc-productos:hover {
  color: #cfc7c7;
}

/*footer-media quary*/
@media (max-width: 991px) {
  .footer-box {
    text-align: center;
  }
  .foot-contenedor .footer-productos {
    font-size: 18px;
  }
  .foot-contenedor .buc-productos {
    font-size: 14px;
  }
  .foot-contenedor .Copyright {
    font-size: 12px;
  }
  .foot-contenedor .jab-d {
    font-size: 18px;
  }
  .foot-contenedor .p-jab-d {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .foot-contenedor .footer-productos {
    font-size: 16px;
  }
  .foot-contenedor .buc-productos {
    font-size: 13px;
  }
  .foot-contenedor .jab-d {
    font-size: 16px;
  }
  .foot-contenedor .p-jab-d {
    font-size: 13px;
  }
  .foot-contenedor .Copyright {
    font-size: 11px;
  }
}
@media (max-width: 570px) {
  .foot-contenedor .footer-productos {
    font-size: 14px;
  }
  .foot-contenedor .buc-productos {
    font-size: 11px;
  }
  .foot-contenedor .jab-d {
    font-size: 14px;
  }
  .foot-contenedor .p-jab-d {
    font-size: 11px;
  }
  .foot-contenedor .Copyright {
    font-size: 10px;
  }
}
.nav-item:nth-child(1) {
  animation-delay: 0.2;
}

.nav-item:nth-child(2) {
  animation-delay: 0.4;
}

.nav-item:nth-child(3) {
  animation-delay: 0.6;
}

.nav-item:nth-child(4) {
  animation-delay: 0.8;
}

/*MEDIA QUARY/*

/*header*/
@media (max-width: 768px) {
  #logo {
    height: 28vh;
  }
  .boxtitulo {
    margin-bottom: 20px;
  }
  .boxtitulo h1 {
    font-size: 22px;
  }
}
@media (max-width: 614px) {
  .nombre {
    display: none;
  }
  #logo {
    height: 23vh;
  }
}
@media (max-width: 576px) {
  .nombre {
    display: none;
  }
  h1 {
    display: none;
  }
  header {
    height: 40vh;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }
}
@media (max-width: 348px) {
  h1 {
    font-size: 15px;
  }
}
@media (max-width: 368px) {
  #logo {
    height: 20vh;
  }
  header {
    height: 38vh;
  }
}
/*contacto*/
.formulario__box-contacto {
  color: white;
}

.formulario__box-titulo .formulario__titulo {
  font-size: 25px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
.formulario__box-titulo .formulario__parrafo {
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
}

.titulo-direccion {
  font-size: 25px;
  font-family: "Barlow Condensed", sans-serif;
}

.p-direc {
  font-family: "Barlow Condensed", sans-serif;
}

/*FORMULARIOS*/
.box-form {
  background-color: rgba(199, 186, 186, 0.5607843137);
  border-radius: 7px;
}
.box-form .formulario {
  height: 88vh;
  width: 100%;
}
.box-form .titulo-form {
  color: rgb(76, 69, 69);
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
}
.box-form .cuentanos {
  font-size: 14px;
  font-weight: 500;
  color: rgb(15, 14, 14);
  padding: 5px;
}
.box-form .input {
  width: 100%;
  height: 25px;
  background-color: rgba(177, 162, 162, 0.2666666667);
  border: solid 0.5px rgba(82, 67, 67, 0.342);
  margin-bottom: 5px;
  border-radius: 5px;
  color: #5a5656;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  padding-left: 5px;
}
.box-form .input-area {
  width: 100%;
  height: 100px;
  background-color: rgba(177, 162, 162, 0.2666666667);
  border: solid 0.5px rgba(82, 67, 67, 0.342);
  border-radius: 5px;
  padding-left: 5px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.box-form .boton {
  background-color: rgba(228, 5, 5, 0.8352941176);
  height: 40px;
  width: 100%;
  color: white;
  border: none;
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "Barlow Condensed", sans-serif;
}
.box-form .boton:hover {
  color: #c2bdbd;
  background-color: #3d3939;
  border-radius: 5px;
  border-bottom: solid 4px greenyellow;
}

/*media quary*/
@media (max-width: 1115px) {
  .box-ubicacion .caja-direc {
    padding-bottom: 20px;
  }
  .formulario__box-titulo {
    padding-bottom: 5px;
  }
}
@media (max-width: 991px) {
  .box-ubicacion .box-clinic-tel {
    margin-top: 0gipx;
  }
  .box-ubicacion .caja-direc {
    padding-bottom: 20px;
  }
  .box-ubicacion .maps {
    height: 540px;
  }
  .box-titul-form .titulo-form {
    font-size: 14px;
  }
  .formulario .cuentanos {
    font-size: 11px;
  }
}
@media (max-width: 990px) {
  .formulario__box-titulo .formulario__titulo {
    font-size: 20px;
  }
  .formulario__box-titulo .formulario__parrafo {
    font-size: 14px;
  }
  .box-ubicacion .box-clinic-tel {
    margin-top: 45px;
  }
  .box-ubicacion .caja-direc {
    padding-bottom: 20px;
  }
  .box-ubicacion .caja-direc .titulo-direccion {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .box-ubicacion .caja-direc .p-direc {
    font-size: 14px;
  }
  .box-ubicacion .caja-direc .maps {
    height: 540px;
  }
}
@media (max-width: 769px) {
  .formulario__box-titulo .formulario__titulo {
    font-size: 18px;
  }
  .formulario__box-titulo .formulario__parrafo {
    font-size: 14px;
  }
  .box-ubicacion .box-clinic-tel {
    margin-top: 45px;
  }
  .box-ubicacion .caja-direc .titulo-direccion {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .contenedor-formulario {
    margin-bottom: 100px;
  }
}
@media (max-width: 570px) {
  .main-contac {
    height: 270vh;
  }
  .box-ubicacion .maps {
    height: 450px;
  }
}
@media (max-width: 450px) {
  .box-ubicacion .maps {
    height: 350px;
  }
  .formulario__box-titulo .formulario__titulo {
    font-size: 15px;
  }
  .formulario__box-titulo .formulario__parrafo {
    font-size: 11px;
  }
  .box-ubicacion .box-clinic-tel {
    margin-top: 45px;
  }
  .box-ubicacion .caja-direc .titulo-direccion {
    font-size: 15px;
    padding-bottom: 20px;
  }
  .box-ubicacion .caja-direc .p-direc {
    font-size: 11px;
  }
}
.fondo-productos {
  background-color: rgba(205, 250, 5, 0.2117647059);
  color: black;
}
.fondo-productos .nosotros-titulo {
  color: black;
}

.box-productos {
  background-color: #CEFA05;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

.titulo-productos {
  color: black;
}

.formulario__box-contacto {
  background-color: #CEFA05;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.formulario__box-contacto .contac-titul {
  color: black;
}
.formulario__box-contacto .contac-titul:hover {
  color: #f8f8f8;
  transform: rotateY(20deg);
  transition: 1ms;
}

/*carousel index*/
.tamaño-img {
  width: 90vw;
  height: 480px;
}

.carousel-caption {
  width: 50vw;
  margin-left: 10px;
  background-color: rgba(6, 7, 1, 0.5215686275);
  border-radius: 5px;
  color: rgb(224, 217, 236);
}
.carousel-caption .p-carrusel {
  color: #bec6d3;
}

/* MEDIA QUARY /*
 /*carousel*/
@media (max-width: 768px) {
  .tamaño-img {
    width: 90vw;
    height: 270px;
  }
}
@media (max-width: 577px) {
  .tamaño-img {
    width: 90vw;
    height: 230px;
  }
}
@media (max-width: 524px) {
  .tamaño-img {
    width: 89vw;
    height: 180px;
  }
}
@media (max-width: 468px) {
  .tamaño-img {
    width: 89vw;
    height: 180px;
  }
}
@media (max-width: 448px) {
  .tamaño-img {
    width: 89vw;
    height: 150px;
  }
}
@media (max-width: 417px) {
  .tamaño-img {
    width: 89vw;
    height: 150px;
  }
}
@media (max-width: 324px) {
  .tamaño-img {
    width: 89vw;
    height: 120px;
  }
}
/*TURNO-BUTTON*/
.primary-button {
  font-family: "Ropa Sans", sans-serif;
  /* font-family: 'Valorant', sans-serif; */
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #0E1822;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #f8e809;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
}

.contacto {
  color: black;
}

.primary-button:hover {
  border: 1px solid #FF4655;
  color: white;
  background-position: 40%;
}

.primary-button:before {
  content: "";
  position: absolute;
  background-color: #ffe600;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
  background-color: white;
}

.primary-button:hover:after {
  background-color: white;
}

.primary-button:after {
  content: "";
  position: absolute;
  background-color: #ebdb05;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
}

.button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 2px solid #0a4d44;
  border-bottom: 0px;
  /* opacity: 0.3; */
}

.button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 2px solid #0a4d44;
  border-top: 0px;
  /* opacity: 0.3; */
  z-index: 0;
}

.shape {
  fill: #0E1822;
}

.contenedor-od {
  background-color: rgb(216, 217, 218);
  color: rgb(41, 39, 39);
  height: 55vh;
}
.contenedor-od:hover {
  background-color: rgb(168, 165, 165);
  border-top: solid 5px #CEFA05;
}
.contenedor-od .span-od {
  font-weight: bold;
}
.contenedor-od .box-od {
  text-align: justify;
  font-size: 14px;
}
.contenedor-od .titulo-od-grup {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.contenedor-od .titulo-od-grup .parrafo-od {
  font-family: "Barlow Condensed", sans-serif;
}
.contenedor-od .btn-info2 {
  margin-top: 20px;
}
.contenedor-od .btn-info {
  background-color: #CEFA05;
  height: 50px;
  width: 200px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(63, 62, 62);
}
.contenedor-od .btn-info .link-info {
  text-decoration: none;
  color: rgb(63, 62, 62);
}
.contenedor-od .btn-info:hover {
  background-color: rgb(70, 69, 69);
  color: aliceblue;
  border-radius: 5px;
  border-bottom: solid 3px #CEFA05;
}
.contenedor-od .btn-info:hover .link-info {
  color: aliceblue;
}

/*media quari*/
@media (max-width: 1115px) {
  .contenedor-od {
    height: 60vh;
  }
  .contenedor-od .btn-info1 {
    margin-top: 20px;
  }
}
@media (max-width: 1029px) {
  .contenedor-od .parrafo-od {
    text-align: start;
    font-size: 13px;
  }
  .contenedor-od .titulo-od-grup {
    font-size: 18px;
  }
  .contenedor-od .btn-info1 {
    margin-top: 20px;
  }
}
@media (max-width: 976px) {
  .contenedor-od .btn-info2 {
    margin-top: 40px;
  }
}
@media (max-width: 879px) {
  .contenedor-od .btn-info2 {
    margin-top: 20px;
  }
  .contenedor-od .btn-info {
    height: 40px;
    width: 170px;
  }
}
@media (max-width: 812px) {
  .contenedor-od .btn-info1 {
    margin-top: 0px;
  }
  .contenedor-od .btn-info2 {
    margin-top: 20px;
  }
}
@media (max-width: 788px) {
  .titulo-grup {
    margin-bottom: 29px;
  }
  .titulo-od {
    margin-bottom: 30px;
  }
}
@media (max-width: 769px) {
  .contenedor-od {
    height: 60vh;
  }
  .contenedor-od .btn-info {
    height: 35px;
    width: 150px;
  }
  .contenedor-od .btn-info2 {
    margin-top: 0;
  }
  .contenedor-od .link-info {
    font-size: 14px;
  }
  .titulo-od {
    font-size: 15px;
    margin-bottom: 30px;
  }
  .titulo-grup {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .contenedor-od {
    height: 90vh;
  }
  .contenedor-od .btn-info2 {
    margin-inline-start: 0;
  }
  .contenedor-od .titulo-od-grup {
    margin-top: 0;
  }
}
@media (max-width: 695px) {
  .contenedor-od {
    height: 100vh;
  }
  .contenedor-od .btn-info {
    height: 28px;
    width: 155px;
  }
  .contenedor-od .link-info {
    font-size: 12px;
  }
  .box-od .titulo-od-grup {
    font-size: 18px;
  }
  .box-od .parrafo-od {
    font-size: 12px;
  }
  .box-od .btn-info {
    height: 26px;
    width: 130px;
  }
}
@media (max-width: 430px) {
  .contenedor-od {
    height: 110vh;
  }
  .contenedor-od .btn-info {
    height: 26px;
    width: 120px;
  }
  .contenedor-od .link-info {
    font-size: 10px;
    padding: 5px;
  }
}
@media (max-width: 430px) {
  .contenedor-od {
    height: 115vh;
  }
}
@media (max-width: 339px) {
  .box-od .titulo-od-grup {
    font-size: 15px;
  }
  .box-od .parrafo-od {
    font-size: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MEDIA QUARY /*


/*index imagen*/
@media (max-width: 576px) {
  .img-index {
    width: 100vh;
    height: auto;
  }
}

/*# sourceMappingURL=stylos.css.map */
