@use "globales";

.ComoFunciona-box-titulo{
    background-color: globales.$color-box-titulo-seccion;
    font-family:globales.$font-titulos;
    text-transform: uppercase;
}
.ComoFunciona__titulo{
    color: globales.$color-letra-titulo-seccion;
}
.ComoFunciona__parrafo{
    font-size: 22px;
    text-decoration: bold;
    font-family: globales.$font-texto;


}
.ComoFunciona__box--texto{
    .ComoFunciona__opciones{
        font-size: 18px;
        font-family:globales.$font-titulos;
    }

}


.submenu{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   

   
.MEN-1{
    display: inline-block;
  
    
    height: 50px;
    width: 200px;
    
     color:green;
     border-radius: 5px;
     text-align: center;
     padding: 10px;
   

   a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family:globales.$font-titulos;
    &:hover{
        border-bottom: 4px solid rgb(238, 225, 214);
    }
   }
}
.col-menu{
    background: rgb(242,247,0);
    background: linear-gradient(180deg, rgba(242,247,0,1) 26%, rgba(248,246,0,1) 54%, rgba(251,250,60,1) 70%);
}

}
/*COMO FUNCIONA CONTENIDO */

.img-comofunciona{
    height: 70vh;
    width: 40vw;
    padding-left: 3rem;
   
}

.caja-img{
    align-self:center;
}

.p-titulo{
    font-weight: 500;
    font-size: 18px;
    font-family:globales.$font-texto;
    text-align: justify;
    
}
.instrucciones{
    
    font-size: 18px;
    font-family:globales.$font-titulos;
    
}
.indicaciones-grupo{
    text-align: start;
}
.lista-compra{
    text-align: start;
    font-size: 18px;
    font-family:globales.$font-titulos;
}
.texto-p2{
    font-size: 18px;
    font-family:globales.$font-titulos;
}
.texto-p3{
    font-size: 18px;
    font-family:globales.$font-titulos;
}
.texto-p4{
    font-size: 18px;
    font-family:globales.$font-titulos;
}
.titulo-h2{
    font-size: 25px;
    color: black;
    font-family:globales.$font-titulos;
    text-transform: uppercase;
    text-align: start;
}
.pasos-envio{
    font-size: 18px;
    font-family:globales.$font-titulos;
}
.indicaciones-clinica{
    font-size: 18px;
    font-family:globales.$font-titulos;
}
.indicaciones-grupo{
    font-size: 18px;
    font-family:globales.$font-titulos;

}
.compra-minima{
    font-size: 25px;
    color: black;
    font-family:globales.$font-titulos;
    text-transform: uppercase;
    text-align: start;
}

/* media quaris*/

@media (max-width:992px){
.ComoFunciona__parrafo{
    font-size: 22px;
}


    .p-titulo{
        font-weight: 500;
        font-size: 17px;
        text-align: justify;
}

.MEN-1{
   a{
    font-size: 13px;
}
}
.img-comofunciona{
    width: 70vw;
    height: 60vh;
    padding: 0;
}
.caja-img{
    padding: 0;
}
}
@media (max-width:769px){
    .ComoFunciona__titulo{
        font-size: 25px;
    }
    .ComoFunciona__parrafo{
        font-size: 20px;
    }
    
.MEN-1{
    width: 400px;
    
    a{ font-size:9px;
 }
 }
 .MenuDeOpciones{
    width:100%;
 }
}
@media (max-width:650px){
    .img-comofunciona{
        width: 68vw;
        height: 45vh;
        padding: 0;
    }
}
@media (max-width:550px){
    .submenu{
        .MEN-1{
            a{
                font-size: 8px;
            }
        }
    }
}
@media (max-width:390px){
    .submenu{

   
    .MEN-1{
        width: 400px;
        height: 60px;
        a{
        font-size:8 ;
        }
      
       
     }
     
    }
}
