@use "globales";

header{
    height: 40vh;
    background-color: globales.$color-header;
    border-bottom:solid 5px globales.$color-border-header;

#logo{
    height: 28vh;
}
.boxlogo{
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
    
   
}
.boxtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: aliceblue;
    font-size: 40px;
    font-family:globales.$font-titulos;
    text-transform: uppercase;
    padding-right: 30px;
}
}




/*seudoclases header*/

.nav-ul{
    &:hover{transform:scale(1.2);
    transition: 0.3ms;  
}
.nav-item{
    font-family:globales.$font-titulos;
    .nav-link{
        &:hover{
            color: #9b0101;
        }
    }
}
}


/*seudoclases img-index*/

.box-img-index {

.img-index{

&:hover {
    transform:scale(1.2);
    transition: 0.6ms;  
}
}
}
/*footer*/
.foot-contenedor{
    .Copyright{
        font-size:13px ;
        font-family:globales.$font-texto;
    }
    &:hover{
        border-top: solid 6px globales.$color-box-titulo-seccion;
       
    }
}
.footer-box{
    .jab-d{
        font-weight: 700;
        font-size: 20px;  
        font-family:globales.$font-titulos;
        &:hover{
            color:#616060;
        }
    }
    
  
.p-jab-d{
    font-size:14px;
    font-family:globales.$font-texto;

    &:hover{
        color: #cfc7c7;
    }
}
.footer-productos{
    font-weight: 600;
    font-size: 20px;
    font-family:globales.$font-titulos;
    text-transform: uppercase;
    &:hover{
        color:#616060;
    }  
}

}

.footer-link{
    .buc-productos{
      font-size: 14px;
      font-family:globales.$font-texto;
      color: #616060;
      
      &:hover{
        color:#cfc7c7;
      }
    }
   
}
/*footer-media quary*/

@media (max-width:991px){
    .footer-box{
        text-align: center;
    }
    .foot-contenedor{
        .footer-productos{
            font-size: 18px;
        }
        .buc-productos{
            font-size: 14px;
        }
        .Copyright{
            font-size:12px ;
        }
        .jab-d{
            font-size: 18px;
        }
        .p-jab-d{
            font-size: 14px;
        }
    }
}
@media (max-width:767px){
    .foot-contenedor{
        .footer-productos{
            font-size: 16px;
        }
        .buc-productos{
            font-size: 13px;
        }
        .jab-d{
            font-size: 16px;
        }
        .p-jab-d{
            font-size: 13px;
        }
        .Copyright{
            font-size:11px ;
        }
    }
}
@media (max-width:570px){
    .foot-contenedor{
    .footer-productos{
        font-size: 14px;
    }
    .buc-productos{
        font-size: 11px;
    }
    .jab-d{
        font-size: 14px;
    }
    .p-jab-d{
        font-size: 11px;
    }
    .Copyright{
        font-size:10px ;
    }
}

}


@for $item from 1 through 4 {
    .nav-item:nth-child(#{$item}){
        animation-delay: $item*0.2 ;
    }
    
}
    



/*MEDIA QUARY/*

/*header*/
@media (max-width:768px){
    #logo{
        height: 28vh;
    }
   
    .boxtitulo{
      margin-bottom: 20px;

      h1{
        font-size:22px;   
    }
    }
}
@media (max-width:614px) {
    .nombre{
        display: none;
    }
    #logo{
      height:23vh;
    }  

}
@media (max-width:576px){
    .nombre{
        display: none;
    }

    h1{
        display:none;
    }
    header{
        height: 40vh;
    }
}
@media (max-width:480px){
   h1{
    font-size:18px ;
   }
}
@media (max-width:348px){
    h1{
     font-size:15px ;
    }
}
@media (max-width:368px){
    #logo{
        height:20vh;
      }  
      header{
        height: 38vh;
      }
}


/*contacto*/
.formulario__box-contacto {
    color: white;
}
.formulario__box-titulo{
   
    .formulario__titulo{
        font-size: 25px;
        text-transform: uppercase;
        font-family: globales.$font-titulos;
       

    }
    .formulario__parrafo{
        font-size: 18px;
        font-family: globales.$font-titulos;
       
    
    }
}
.titulo-direccion{
    font-size: 25px;
    font-family:globales.$font-titulos;
}
.p-direc{
    font-family:globales.$font-titulos;
}

/*FORMULARIOS*/


.box-form{
    background-color: #c7baba8f;
    border-radius: 7px;

    .formulario{
        height: 88vh;
        width: 100%;
        
    }

    .titulo-form{
        color: rgb(76, 69, 69);
        font-size: 20px;
        font-family:globales.$font-titulos;
        
    }
    .cuentanos{
        font-size: 14px;
        font-weight: 500;
        color: rgb(15, 14, 14);
        padding: 5px;
    }
    .input{
        width:100%;
        height: 25px;
        background-color: #b1a2a244;
        border:solid 0.5px rgba(82, 67, 67, 0.342);
        margin-bottom: 5px;
        border-radius: 5px;
        color: #5a5656;
        font-size: 12px;
       font-family:globales.$font-texto;
        padding-left: 5px;
    }
    .input-area{
        width: 100%;
        height: 100px;
        background-color: #b1a2a244;
        border:solid 0.5px rgba(82, 67, 67, 0.342);
        border-radius: 5px;
        padding-left: 5px;
        font-size: 12px;
        font-family:globales.$font-texto;
    }
    .boton{
        background-color: #e40505d5;
        height: 40px;
        width: 100%;
        color: white;
        border:none;
        margin-bottom: 10px;
        margin-top: 20px;
        font-family:globales.$font-titulos;
       
       
        &:hover{
            color: #c2bdbd;
            background-color: #3d3939;
            border-radius: 5px;
            border-bottom:solid 4px greenyellow;
        }
}
}
/*media quary*/

@media (max-width:1115px){
    .box-ubicacion{
        .caja-direc{
            padding-bottom:20px;
        }
}
    .formulario__box-titulo{
        padding-bottom:5px;
        
    }
}
@media (max-width:991px){
    .box-ubicacion{
        .box-clinic-tel{
            margin-top:0gipx;
        }
        .caja-direc{
            padding-bottom:20px;
        }
        .maps{
            height: 540px;
        }       
    }
    .box-titul-form{
    .titulo-form{
            font-size: 14px;} 
   }
    .formulario{
    .cuentanos{
           font-size: 11px; 
   }
   }

 }
@media (max-width:990px){
    .formulario__box-titulo{
        .formulario__titulo{
            font-size: 20px;
        }
        .formulario__parrafo{
            font-size:14px;
        }
    }
        .box-ubicacion{
           .box-clinic-tel{
                margin-top:45px;
            }
            .caja-direc{
                padding-bottom:20px;
                .titulo-direccion{
                    font-size: 20px;
                    padding-bottom: 20px;
                }
                .p-direc{
                    font-size: 14px;
                }
            .maps{
                height: 540px;
            }       
        
    }
}
}  
@media (max-width:769px){
    .formulario__box-titulo{
        .formulario__titulo{
            font-size: 18px;
        }
        .formulario__parrafo{
            font-size:14px;
        }
    }
    .box-ubicacion{
        .box-clinic-tel{
             margin-top:45px;
         }
         .caja-direc{
             .titulo-direccion{
                 font-size: 18px;
                 padding-bottom: 20px;
                }

             }
}

}
@media (max-width:767px){
    .contenedor-formulario{
        margin-bottom: 100px;
    }   
}


@media (max-width:570px){
    .main-contac{
        height: 270vh;
    }
    .box-ubicacion{
        .maps{
            height:450px ;
        }
    }  
}
@media (max-width:450px){
   
    .box-ubicacion{
        .maps{
            height:350px;
         }
    }
    .formulario__box-titulo{
        .formulario__titulo{
            font-size: 15px;
        }
        .formulario__parrafo{
            font-size:11px;
        }
    }
    .box-ubicacion{
        .box-clinic-tel{
             margin-top:45px;
         }
         .caja-direc{
             .titulo-direccion{
                 font-size: 15px;
                 padding-bottom: 20px;
                }
                .p-direc{
                    font-size: 11px;
                }

             }
}
}
