@use "globales";


.fondo-productos{
    background-color: #cdfa0536;
    color: globales.$color-letra-titulo-seccion;
    .nosotros-titulo{
        color: globales.$color-letra-titulo-seccion;
    }
}
.box-productos{
    background-color: globales.$color-box-titulo-seccion;
    font-family: globales.$font-titulos;
    text-transform: uppercase;
   
}
    .titulo-productos{
        color:globales.$color-letra-titulo-seccion;
    }

